html,body{
  margin: 0px;
  width:100%;
  height:100%;
}

body{
   background-image:url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.middle{
  margin-left:auto;
  margin-right:auto;
}

#pictureFromGame{
  width:100%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6);
  border-radius:5px;
}

#pictureContainer{
  width: 40%;

}

#conversation{
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 20px;
  width:40%;
  background-color: rgba(0,0,0,8);
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.8);
  color: white;
}